@model RgSite.ViewModels.ProductViewModel

<div class="container">
    <div class="row">
        <div class="content-area col-md-12">
            <div class="product-details row">
                <div class="product-image col-md-6 col-sm-6 col-xs-12">
                    <img src="~/images/products/hairbsh32-600x600.jpg" />
                </div>
                <div class="summary col-md-6 col-sm-6 col-xs-12">
                    <h1>@Model.DisplayName</h1>
                    <p>@Model.Description</p>
                    <h3>@Model.PriceRange</h3>
                    <br /><br /><br />
                    <h2 id="cost">$0.00</h2>
                    <br />
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                    @Html.DropDownListFor(c => c.Price.Id, new SelectList(Model.Prices, "Id", "Size"), "Select Size", new { @class = "form-control", @id = "selected-size" })
                                    <span asp-validation-for="Price.Id" class="text-danger"></span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                    <input asp-for="Quantity" class="form-control" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                    <button type="submit" class="btn btn-primary custom-button-color">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.ProductId)
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Comments-->
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="heading">
                <h4 class="card-title mb-0">
                    <a class="card-link" data-toggle="collapse" href="#collapse1">
                        Comments

                        @if (Model.Comments == null)
                        {
                            <span class="badge badge-pill badge-secondary float-right">0</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-secondary float-right">@Model.Comments.Count()</span>
                        }
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
                @if (Model.Comments.Any())
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="card-body border-top">
                            <div class="row">
                                <div class="col-md-3">
                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@comment.User.Id">
                                        <div class="userProfilePicForComments" style="background-image: url(@comment.User.ProfileImageUrl)"></div>
                                    </a>
                                    <span class="comment-username">@comment.User.UserName</span><br />
                                    <span class="comment-date">@comment.TimeSent</span>
                                </div>
                                <div class="col-md-9">
                                    <div class="comment-content">
                                        @Html.Raw(comment.Content)
                                        @if (comment.User.UserName == User.Identity.Name)
                                        {
                                            <i>
                                                <a id="delete-comment" onclick="onDeleteComment(event, @comment.Id)" class="far fa-trash-alt float-right" role="button" asp-controller="Products" asp-action="DeleteComment" asp-route-id="@comment.Id"></a>
                                            </i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card-body">
                        No Comments
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Add comment-->
    <div class="form-group col-md-6" id="add-comment">
        <form asp-controller="Products" asp-action="AddComment">
            <textarea asp-for="Comment.Content" class="form-control" placeholder="Add comment..."></textarea>
            <button id="add-comment-btn" type="submit" class="btn btn-primary custom-button-color">Add comment</button>
            @Html.HiddenFor(p => p.ProductId)
        </form>
    </div>
</div>




<style>
    .container {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .content-area {
        margin-top: 0;
    }

    .product-details {
        padding: 40px 25px 0;
        margin-left: 0;
        margin-right: 0;
    }

    .product-image {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    .summary {
        font-size: 16px;
        color: #55616a;
        margin-bottom: 0 !important;
        border: none;
        padding: 0 40px 0 40px;
    }

    h1 {
        font-family: 'Lato', Arial, sans-serif;
        color: #262e31;
    }

    .custom-button-color, .custom-button-color:hover {
        background-color: #e11383;
        border-color: #e11383;
    }

    #add-comment {
        padding-top: 10px;
        padding-left: 0px;
    }

    #add-comment-btn {
        margin-top: 10px;
    }

    .userProfilePicForComments {
        height: 30px;
        width: 30px;
        background-size: 100%;
    }

    .comment-username, .comment-date {
        color: dimgray;
    }

    .comment-content {
        color: black;
    }

    .card-title {
        font-weight: bold;
        font-size: 16px;
    }

    .card-link {
        color: black;
    }

    #delete-comment {
        color: red;
    }

    #collapse1 {
        color: #336699;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>


@section scripts
{
    <script>

        //Get product price based on selected size in the dropdown
        $('#selected-size').change(function (e) {
            var selectedSize = $('#selected-size option:selected').text();
            var productId = $('#ProductId').val();

            $.getJSON('/Products/GetPrice', { productId: productId, selectedSize: selectedSize }, function (json) {
                $('#cost').text(json.price);
            });
        });

        //delete comment
        function onDeleteComment(e, commentId) {
            e.preventDefault();

            var tempurl = $("#delete-comment").attr('href');
            var url = tempurl.replace(/\d+/g, commentId);

            Swal.fire({
                title: 'Are you sure?',
                text: "comment will be permanently deleted.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.value) {
                    window.location.href = url;
                }
            })

        };

    </script>
}